
<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>ECE AST</title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="../public/js/jquery.js"></script>
<script src="../public/js/bootstrap.min.js"></script> 

<style>
        body    { padding-top:50px;
                padding-left: 100px; }
</style>
    


