
<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>ECE AST</title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
        body    { padding-top:50px; }
</style>
    
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script> 


